In [1]:
import os
import json
import pandas as pd
from sklearn.model_selection import train_test_split

os.chdir('/home/s2310409/workspace/coliee-2024')

In [2]:
with open('./dataset/c2024/train_labels.json', 'r') as fp:
    train_2024 = json.load(fp)

data = []
for key in train_2024.keys():
    data.append([key, train_2024[key]])

train_2024_df = pd.DataFrame(data, columns=['source', 'target'])
train_2024_df

          source                                             target
0     008447.txt   [072495.txt, 082291.txt, 004851.txt, 049315.txt]
1     067501.txt                           [038025.txt, 072553.txt]
2     007627.txt                           [003575.txt, 043211.txt]
3     006769.txt  [026334.txt, 024601.txt, 041486.txt, 078078.tx...
4     007876.txt  [049074.txt, 041348.txt, 017692.txt, 068329.tx...
...          ...                                                ...
1273  085079.txt                           [044669.txt, 003144.txt]
1274  031370.txt  [096341.txt, 060602.txt, 047107.txt, 084522.tx...
1275  085828.txt               [004301.txt, 074887.txt, 088994.txt]
1276  024957.txt                           [015009.txt, 080348.txt]
1277  060678.txt                                       [018625.txt]

[1278 rows x 2 columns]

In [3]:
with open('./dataset/c2023/train_labels.json', 'r') as fp:
    train_2023 = json.load(fp)
 
data = []
for key in train_2023.keys():
    data.append([key, train_2023[key]])

train_2023_df = pd.DataFrame(data, columns=['source', 'target'])
train_2023_df

         source                                             target
0    008447.txt   [072495.txt, 082291.txt, 004851.txt, 049315.txt]
1    067501.txt                           [038025.txt, 072553.txt]
2    007627.txt                           [003575.txt, 043211.txt]
3    006769.txt  [026334.txt, 024601.txt, 041486.txt, 078078.tx...
4    007876.txt  [049074.txt, 041348.txt, 017692.txt, 068329.tx...
..          ...                                                ...
954  028224.txt                           [022102.txt, 006056.txt]
955  027404.txt                           [095212.txt, 006636.txt]
956  010207.txt   [053182.txt, 005940.txt, 004173.txt, 071167.txt]
957  067833.txt                           [026780.txt, 047496.txt]
958  045249.txt               [095962.txt, 047863.txt, 099464.txt]

[959 rows x 2 columns]

In [4]:
train_df, dev_df = train_test_split(train_2023_df, random_state=42, test_size=0.1)

test_df = train_2024_df[[True if x not in train_2023_df['source'].tolist() else False for x in train_2024_df['source']]]

In [ ]:
# save train, dev and test data as json
train_data = {}
for index, row in train_df.iterrows():
    train_data[row['source']] = row['target']
    
with open('dataset/train.json', 'w') as fp:
    json.dump(train_data, fp)
    
dev_data = {}
for index, row in dev_df.iterrows():
    dev_data[row['source']] = row['target']
    
with open('dataset/dev.json', 'w') as fp:
    json.dump(dev_data, fp)
    
test_data = {}
for index, row in test_df.iterrows():
    test_data[row['source']] = row['target']
    
with open('dataset/test.json', 'w') as fp:
    json.dump(test_data, fp)